body {
    background: #000;
    padding: 60px;
}

.header {
    color: #fff;
    background-image: url("../assets/header_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
    /* background-position-x: 50%; */
}

#navbar_top {
    background: #000;
    opacity: 75%;
    /* justify-content: space-between; */
}

#main_nav h6 {
    background: #ffa500;
    padding: 3px;
}

.services {
    background: rgb(180, 176, 176);
    padding: 60px;
}

#intro {
    background-image: url("../assets/table_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255);
    text-align: center;
}

#card-title {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.col1 {
    width: 50%;
}

.col2 {
    width: 50%;
    /* align-content: center;
    align-items: center; */
    position: relative;
}

img {
    width: 100%
}

#menu {
    background-color: #808080;
}

.product-info {
    float: right;
}